## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [10]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_count = application_df['APPLICATION_TYPE'].value_counts()

app_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [12]:
#List values to replace
app_types = list(app_count[app_count < 156].index)

app_types

['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df.iloc[9:].index)
cutoff_value = 156

for app in app_types:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"other")

application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
other      120
Name: count, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_count = application_df["CLASSIFICATION"].value_counts()

class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [15]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counter = class_count.loc[class_count > 1]

class_counter

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [16]:
#List to be replaced
class_types = list(class_count[class_count < 1883].index)

class_types

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# classifications_to_replace = list(application_df_filter.loc[5:,'CLASSIFICATION'])
# cutoff_value = 1883

classifications_to_replace = list(class_count[class_count<100].index)
classifications_to_replace

# Replace in dataframe
for cls in class_types:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [19]:
# # Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# # Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, y, random_state = 42)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_number = len(X_train[0])
hidden_nodes_1 = 6
hidden_nodes_2 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_1, activation="relu", input_dim = input_number)
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 6)              │           270 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 295 (1.15 KB)

 Trainable params: 295 (1.15 KB)

 Non-trainable params: 0 (0.00 B)

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - accuracy: 0.5825 - loss: 0.6779
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 232us/step - accuracy: 0.7131 - loss: 0.5902
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 231us/step - accuracy: 0.7166 - loss: 0.5789
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 258us/step - accuracy: 0.7187 - loss: 0.5753
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7219 - loss: 0.5699
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 233us/step - accuracy: 0.7173 - loss: 0.5725
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 231us/step - accuracy: 0.7186 - loss: 0.5695
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 232us/step - accuracy: 0.7237 - loss: 0.5644
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 230us/step - accuracy: 0.7219 - loss: 0.5652
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 231us/step - accuracy: 0.7242 - loss: 0.5641
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 231us/step - accuracy: 0.7227 - loss: 0.5641
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7262 - loss: 0.5634
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7211 - loss: 0.5660
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 236us/step - accuracy: 0.7265 - loss: 0.5624
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7283 - loss: 0.5588
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - accuracy: 0.7164 - loss: 0.5720
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - accuracy: 0.7197 - loss: 0.5660
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 232us/step - accuracy: 0.7244 - loss: 0.5624
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7207 - loss: 0.5659
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7209 - loss: 0.5651
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 233us/step - accuracy: 0.7264 - loss: 0.5618
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7234 - loss: 0.5627
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - accuracy: 0.7183 - loss: 0.5682
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 232us/step - accuracy: 0.7256 - loss: 0.5626
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 236us/step - accuracy: 0.7259 - loss: 0.5622
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7228 - loss: 0.5631
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7284 - loss: 0.5564
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7297 - loss: 0.5559
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7232 - loss: 0.5633
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 259us/step - accuracy: 0.7272 - loss: 0.5581
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7289 - loss: 0.5568
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7290 - loss: 0.5564
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7279 - loss: 0.5566
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7338 - loss: 0.5517
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7284 - loss: 0.5573
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7314 - loss: 0.5520
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - accuracy: 0.7317 - loss: 0.5563
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7293 - loss: 0.5548
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 261us/step - accuracy: 0.7254 - loss: 0.5571
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7308 - loss: 0.5547
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 235us/step - accuracy: 0.7271 - loss: 0.5571
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7330 - loss: 0.5511
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 233us/step - accuracy: 0.7337 - loss: 0.5506
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 231us/step - accuracy: 0.7342 - loss: 0.5502
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 236us/step - accuracy: 0.7288 - loss: 0.5558
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - accuracy: 0.7285 - loss: 0.5535
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - accuracy: 0.7302 - loss: 0.5532
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 234us/step - accuracy: 0.7306 - loss: 0.5535
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - accuracy: 0.7244 - loss: 0.5587
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7359 - loss: 0.5494
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7307 - loss: 0.5493
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 272us/step - accuracy: 0.7287 - loss: 0.5555
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 247us/step - accuracy: 0.7269 - loss: 0.5559
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7343 - loss: 0.5500
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - accuracy: 0.7281 - loss: 0.5515
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 236us/step - accuracy: 0.7306 - loss: 0.5536
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - accuracy: 0.7334 - loss: 0.5478
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7271 - loss: 0.5549
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7331 - loss: 0.5512
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7313 - loss: 0.5529
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - accuracy: 0.7269 - loss: 0.5547
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7287 - loss: 0.5536
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7297 - loss: 0.5538
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7299 - loss: 0.5528
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7261 - loss: 0.5552
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7347 - loss: 0.5489
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7304 - loss: 0.5520
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7332 - loss: 0.5469
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7357 - loss: 0.5473
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 246us/step - accuracy: 0.7342 - loss: 0.5486
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7305 - loss: 0.5539
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 247us/step - accuracy: 0.7341 - loss: 0.5476
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7295 - loss: 0.5520
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - accuracy: 0.7271 - loss: 0.5550
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7308 - loss: 0.5507
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - accuracy: 0.7329 - loss: 0.5521
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7282 - loss: 0.5533
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7316 - loss: 0.5509
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7305 - loss: 0.5553
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 256us/step - accuracy: 0.7269 - loss: 0.5566
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 277us/step - accuracy: 0.7299 - loss: 0.5550
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7299 - loss: 0.5525
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - accuracy: 0.7329 - loss: 0.5510
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 246us/step - accuracy: 0.7293 - loss: 0.5509
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7327 - loss: 0.5500
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - accuracy: 0.7321 - loss: 0.5497
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7354 - loss: 0.5453
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - accuracy: 0.7358 - loss: 0.5464
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 272us/step - accuracy: 0.7300 - loss: 0.5505
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - accuracy: 0.7318 - loss: 0.5478
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7295 - loss: 0.5525
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step - accuracy: 0.7310 - loss: 0.5515
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7304 - loss: 0.5527
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - accuracy: 0.7307 - loss: 0.5495
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7356 - loss: 0.5454
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7305 - loss: 0.5507
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7288 - loss: 0.5555
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - accuracy: 0.7321 - loss: 0.5508
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 275us/step - accuracy: 0.7309 - loss: 0.5498
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - accuracy: 0.7361 - loss: 0.5454

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 401us/step - accuracy: 0.7284 - loss: 0.5605
Loss: 0.5604870915412903, Accuracy: 0.728396475315094

In [47]:
# Export our model to keras file
nn.save('/Users/dabean/Desktop/Module Work/deep-learning-challenge/AlphabetSoupCharity.h5', save_format='h5')

WARNING:absl:The `save_format` argument is deprecated in Keras 3. We recommend removing this argument as it can be inferred from the file path. Received: save_format=h5
WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.